div(id="about" layout="vertical" layout-fill)
  br

  div(layout="horizontal" layout-align="center" ng-switch="table.Status")

    .text-center(ng-switch-when="empty")
      h2 餐厅管理系统可以帮你吃的更多!
      material-button.material-button-raised.material-theme-light.action(ng-click="clickStartOrder()") 开始点菜

    .text-center(ng-switch-when="paying")
      h2 感谢您的惠顾！请等待餐厅服务员将协助您完成支付
      i.fa.fa-3x.fa-spinner.fa-spin

    .text-center(ng-switch-when="paid")
      h2 谢谢，欢迎再次光临！
      material-button.material-button-raised.material-theme-light.action(
        ng-disabled="justClicked == true" ng-click="clickRefresh()") 再见