div(id="table" flex layout="vertical" layout-fill)
  h2.text-center.title(ng-show="tables == null") 选择餐桌

  .text-center(ng-show="tables == null")
    i.fa.fa-spin.fa-refresh.fa-4x
    p 同步数据...

  h3.text-center(ng-show="tables != null && tables.length == 0")
    p 餐厅尚未添加餐桌，请前往管理员页面操作
    i.fa.fa-refresh.fa-4x(ng-click="clickRefreshTable()" ng-class="{'fa-spin':refreshing == true}")

  div(ng-show="tables != null && tables.length != 0" layout="horizontal" layout-align="center")

    .rcs-pane.list.material-whiteframe-z3(layout="vertical")
      .pane-header(layout="horizontal" layout-align="space-between" ng-click="clickRefreshTable()")
        | 选择餐桌进行关联
        i.fa.fa-refresh(ng-class="{'fa-spin':refreshing == true}")
      material-content(flex scroll-y)
        material-radio-group(ng-model="selectedIndex")
          material-list(ng-repeat="table in tables | filter:ifNotLinked")
            material-item(ng-click="clickTable($index, table)")
              .material-tile-left
                material-radio-button(ng-class="{'material-checked':selectedIndex==$index}" noink)
              .material-tile-content(ng-class="{'selected':selectedIndex==$index}")
                h2 {{table.TableName}} ({{table.TableType}})

    .rcs-pane.info.material-whiteframe-z3(layout="vertical")
      .pane-header 关联信息
      material-list
        material-item
          .material-tile-left
            | 设备型号
          .material-tile-content
            h2(ng-show="deviceModel != null") {{deviceModel}}
            h2.error(ng-show="deviceModel == null") 无法获取设备
        material-item
          .material-tile-left
            | 系统版本
          .material-tile-content
            h2(ng-show="deviceSystemVersion != null") {{deviceSystemVersion}}
            h2.error(ng-show="deviceSystemVersion == null") 无法获取设备
        material-item.delimiter
          .material-tile-left
            | 设备ID
          .material-tile-content
            h2(ng-show="deviceId != null") {{deviceId}}
            h2.error(ng-show="deviceId == null") 无法获取设备
        material-item(ng-show="selectedIndex != -1")
          .material-tile-left
            | 选择餐桌
          .material-tile-content
            h2 {{selectedTable.TableName}} ({{selectedTable.TableType}})
      .action(layout="horizontal" layout-align="center")
        material-button.material-button-raised.material-theme-light(
          flex ng-disabled="ifDisableCickLink() == true" ng-click="clickLink($event)") 关联