.page .material-toolbar-tools material-button {
  font-size: 18px;
}

.page material-content.background,
.page ion-content.background {
  background-color: #f8f4ee;
}

.page material-toolbar.material-theme-light,
.page ion-header-bar.bar-light {
  background-color: #E5E0D8 !important;
  color: #606060 !important;
}

.page material-toolbar.material-theme-dark,
.page ion-header-bar.bar-dark {
  background-color: #D3CFCA !important;
  color: #606060 !important;
}

.page material-toolbar h1 {
  color: #606060;
}

.page .bar.bar-dark .title {
  color: #606060 !important;
}

.page material-toolbar.material-theme-dark {
  padding-right: 5px;
}

.page material-toolbar .fa {
  font-size: 22px;
  text-align: center;
  width: 30px;
}

.page .rcs-pane .action material-button {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px;
  margin-bottom: 15px;
  height: 60px;
  line-height: 48px;
}