#eating .pane-area {
  padding-left: 25px;
  padding-right: 25px;
  height: 100%;
  overflow: hidden;
}

#eating .rcs-pane {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 18px;
  display: inherit;
  background-color: #ffffff;
  height: 82%;
}

#eating .rcs-pane.call {
  margin-left: 15px;
}

#eating .rcs-pane.ordered .material-left {
  margin-right: 20px;
}