#payment .pane-area {
  padding-left: 45px;
  padding-right: 45px;
}

#payment .rcs-pane.ordered {
  width: 55%;
}

#payment .rcs-pane.pay {
  width: 30%;
  margin-left: 25px;
}

/*header*/
#payment .pane-header span {
  margin-top: 10px;
}

#payment .pane-header span.left {
  width: 70%;
}

#payment .pane-header span.colored {
  color: #8A1717;
}

#payment .pane-header span.fa {
  text-align: center;
  font-size: 22px;
  width: 40px;
}

/*ordered*/
#payment .rcs-pane.ordered .material-tile-right {
  width: 30%;
}

#payment .rcs-pane.ordered .material-tile-right span.left  {
  width: 50%;
}

#payment .rcs-pane.ordered .material-left {
  margin-right: 20px;
}

/*pay*/
#payment .rcs-pane.pay material-checkbox {
  padding-top: 5%;
}

#payment .rcs-pane.pay material-button {
  width: 80%;
  height: 20%;
  margin-top: 3%;
  margin-bottom: 3%;
}

#payment .rcs-pane.pay material-button h2 {
  margin: 0;
}

#payment .rcs-pane.pay material-button .fa {
  font-size: 1.2em;
  color: #8A1717;
}

#payment .rcs-pane.pay material-button[disabled] h2,
#payment .rcs-pane.pay material-button[disabled] .fa {
  color: #999;
}

#payment material-checkbox .material-container,
#payment material-checkbox .material-icon,
#payment material-checkbox.material-checked .material-icon {
  height: 32px;
  width: 32px;
}

#payment material-checkbox.material-checked .material-icon:after {
  height: 24px;
  width: 12px;
  left: 8px;
}

#payment material-checkbox .material-label {
  font-size: 25px;
  margin-bottom: 10px;
}