#page-manage .material-toolbar-tools material-button {
  font-size: 18px;
}

#page-manage material-content.background,
#page-manage ion-content.background {
  background-color: #f8f4ee;
}

#page-manage material-toolbar.material-theme-light,
#page-manage ion-header-bar.bar-light {
  background-color: #E5E0D8 !important;
  color: #606060 !important;
}

#page-manage material-toolbar.material-theme-dark,
#page-manage ion-header-bar.bar-dark {
  background-color: #D3CFCA !important;
  color: #606060 !important;
}

#page-manage material-toolbar h1 {
  color: #606060;
}

#page-manage .bar.bar-dark .title {
  color: #606060 !important;
}

#page-manage material-toolbar.material-theme-dark {
  padding-right: 5px;
}

#page-manage material-toolbar .fa {
  font-size: 22px;
  text-align: center;
  width: 30px;
}