#eating .pane-area {
  margin-left: 25px;
  margin-right: 25px;
}

#eating .rcs-pane {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 18px;
  display: inherit;
  background-color: #ffffff;
}

#eating .rcs-pane.call {
  margin-left: 15px;
  height: 400px;
}

#eating .pane-header {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 2px solid #8A1717;
  height: 52px;
  padding-top: 5px;
}

#eating .pane-header span {
  margin-top: 10px;
}

#eating .pane-header span.colored {
  color: #8A1717;
}

#eating .pane-header span.fa {
  text-align: center;
  font-size: 22px;
  width: 40px;
}

#eating .pane-header > material-button {
  width: 120px;
  height: 40px;
  line-height: 30px;
}

#eating .rcs-pane.ordered .material-left {
  margin-right: 20px;
}